/* global*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
body * {
      transition: 0.3s;
}

/* utils */

.flexcenter{
    display: flex;
    align-items:center;
    justify-content:center;
}


a {
   text-decoration: none;
   color: #fff;
}
/* Containers */

.home-bg{
    position: absolute;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.home-main{
    width: 600px;
    max-width: 80%;
    height: 500px;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

.whitestr{
    width:95%;
    height:95%;
    border-radius: 20px;
    border: 1px solid white;
    flex-direction: column;
    color: white;
}

.whitestr a{
    text-decoration: none;
    color: white;
    margin:20px;

}

/* nav */

.navbar{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    align-items:center;
}

.nav-item{
    border-radius: 5px;
    height:40px;
    width: 200px;
    margin: 0px 0 0 18px ;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover{
    background-color: #38f;
}
      
