/* global*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
body * {
      transition: 0.3s;
}


/* utils */

.flexcenter{
    display: flex;
    align-items:center;
    justify-content:center;
}

.page-container{
    margin: 0 auto;
    margin-top: 65px;
    width: 1000px;
    max-width: 85%;
}

.page-container h2{
    margin-top: 20px;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}


/* Home */

.home-bg{
    position: absolute;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.home-main{
    width: 600px;
    max-width: 80%;
    height: 500px;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

.whitestr{
    width:95%;
    height:95%;
    border-radius: 20px;
    border: 1px solid white;
    flex-direction: column;
    color: white;
}

.whitestr a{
    text-decoration: none;
    color: white;
    margin:20px;

}

/* gerentes */

.gerentes-info{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 0 1px 1px 0 solid black;
}



/* nav */



.navbar-main{
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    background-color: #141a29;
    color: white;
    display: grid;
    align-items:center;
    grid-template-columns: 50% 50%;
}

.redirects{
    display: flex;
    align-items:center;
    flex-direction: row-reverse;
}
.redirects a{
    border-radius: 5px;
    height:40px;
    width: 100px;
    margin: 0 18px 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.navbar-main a:hover{
    color: black;
    background-color: #fff;
}
      
