/* global*/

:root {
  --darkGrey: #242a29;
  --mainGreen:  #559a62 ;
  --paleGreen:  #87da92 ;
  --paleGrey: #dedede;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
body * {
      transition: 0.2s;
}


/* utils */

.flexcenter{
    display: flex;
    align-items:center;
    justify-content:center;
}

.page-container{
    margin: 0 auto;
    margin-top: 65px;
    width: 1000px;
    max-width: 85%;
    flex-direction: column;
}

.page-container h2{
    margin-top: 20px;
    color: var(--mainGreen);
}

.page-container2{
    background-color: var(--paleGrey);
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.columncontainer{
    margin: 0 auto;
    width: 1000px;
    max-width: 85%;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.columncontainer form{
    flex-direction: column;
}

.columncontainer h2{
    margin: 70px;
    color: var(--mainGreen);
}

.columncontainer p, input{
    margin: 30px;
}

.columncontainer input {
    border-radius: 20px;
    border:1px solid;
}

.submitbtn{
    margin-top:40px;
    margin-bottom: 80px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--paleGreen);
    border: 1px solid black;
}

.info-container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;

}

.info-display{
    width: 400px;
    height: 200px;
    margin: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 1px  solid var(--darkGrey);
}

.info-display:hover{
    background-color: var(--paleGreen);
    color: white;
}

.centered-menu{
    background-color: var(--darkGrey);
    color: white;
    position: fixed;
    top: 40%;
    left: 40%;
    width: 400px;
    height: 300px;
    flex-direction: column;
    border-radius: 20px;
}

.button-cont{
    width: 300px;
    display: grid;
    grid-template-columns:33% 34% 33%;
}

.button-green{
    margin-top:90px;
    height: 40px;
    background-color: var(--paleGreen);
    border: 1px solid var(--darkGrey);
}

.button-green:hover{
    background-color: var(--mainGreen);
}

.btlf{
    border-radius: 20px 0 0 20px; 
}

.btrg{
    border-radius: 0 20px 20px 0; 
}

/* Home */

.home-bg{
    position: absolute;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.home-main{
    width: 600px;
    max-width: 80%;
    height: 500px;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

.whitestr{
    width:95%;
    height:95%;
    border-radius: 20px;
    border: 1px solid white;
    flex-direction: column;
    color: white;
}

.whitestr a{
    text-decoration: none;
    color: white;
    margin:20px;

}





/* nav */



.navbar-main{
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    background-color: var(--darkGrey);
    color: white;
    display: grid;
    align-items:center;
    grid-template-columns: 50% 50%;
}

.redirects{
    display: flex;
    align-items:center;
    flex-direction: row-reverse;
}
.redirects a{
    border-radius: 5px;
    height:40px;
    width: 100px;
    margin: 0 18px 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.navbar-main a:hover{
    color: white;
    background-color: var(--mainGreen);
}
      
